[merge]
	tool = vscode
	conflictstyle = zdiff3
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
	whitespace = trailing-space
[color]
	ui = auto
[pull]
	ff = only
[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = master
